* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  background-color: gray
  ;
}

.login-wrap {
  width: 40rem;
  max-width: 100%;
  margin:0 auto;
  margin-top: 10rem;
  padding: 2.4rem;
  border-radius: 0.8rem;
  box-shadow: 0.4rem 0.4rem 1rem gray
  ;
  background-color: black;
}

.login-wrap .title {
  text-align: center;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  font-style:oblique;
  color:white;
}

.login-wrap .input {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  border-radius: 0.5rem;
  border: 0.1rem black;
}

.login-wrap .register-link {
  color: gray;

  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-bottom: 2.4rem;
}

.login-wrap .submit-btn {
  background-color: white;
  color: black
  ;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.8rem 2.4rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
}
